<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
      <div class="body-class">
    <div class="sidebar"><%- include('sidebar.ejs') %></div>
    <div class="main">
      <h1>Categories</h1>
      <ul>
      <%data.forEach(cat =>{%>
        <h2><%= cat.category %> <button class="delete-category" data-category-id="<%=cat.categoryid%>">Delete Category</button></h2>
         
  <ul>
    <%cat.productlist.forEach(prod =>{%>
      <%if(prod.productid !== null) {%>
        <li>
          <a href="/products/<%=prod.productid%>"><%=prod.name%></a>
          <%if(prod.status === 'IN_STOCK'){%>
            <small>AVAILABLE</small>
          <%}else if(prod.status === 'COMING SOON'){%>
            <small>COMING SOON</small>
          <%}%>
          <%if(prod.hasTransaction){%>
            <span class="transaction-info">Has Transaction</span>
          <%}else if(prod.productid){%>
            <button class="delete-product" data-product-id="<%=prod.productid%>">Delete Product</button>
          <%}%>
          <br/>
        </li>
      <%}%>
    <%})%>
  </ul>
<%})%>

      <ul>
        <div id="deleteMessage"></div>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const deleteCategoryButtons = document.querySelectorAll('.delete-category');
    deleteCategoryButtons.forEach(button => {
      button.addEventListener('click', function() {
        const categoryId = this.getAttribute('data-category-id');
        deleteCategory(categoryId);
      });
    });

    const deleteProductButtons = document.querySelectorAll('.delete-product');
    deleteProductButtons.forEach(button => {
      button.addEventListener('click', function() {
        const productId = this.getAttribute('data-product-id');
        deleteProduct(productId);
      });
    });

    function deleteCategory(categoryId) {
      fetch(`/categories/delete/${categoryId}`, {
        method: 'DELETE'
      })
      .then(response => 
      {response.json()
      console.log(response)
      if (response.status === 204) {
          document.getElementById('deleteMessage').textContent = "Delete category successful";
          window.location.reload();
        } else {
          document.getElementById('deleteMessage').textContent = "Delete category unsuccessful";
        }
    })
      .catch(error => {
        console.error('Error deleting category:', error);
      });
    }

    function deleteProduct(productId) {
      fetch(`/products/delete/${productId}`, {
        method: 'DELETE'
      })
      .then(response => {
        response.json()
        if (response.status === 204) {
          document.getElementById('deleteMessage').textContent = "Delete category successful";
          window.location.reload();
        } else {
          document.getElementById('deleteMessage').textContent = "Delete category unsuccessful";
        }
      })
      .catch(error => {
        console.error('Error deleting product:', error);
      });
    }
  });
</script>