<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <div class="sidebar"><%- include('sidebar.ejs') %></div>
    <div class="main">
      <h1><%=title%></h1>
      <ul>
        <% data.forEach(country => { %>
        <h2><%=country.country%></h2>
        <ul>
          <% country.products.forEach(product => { %>
          <li>
            <a href="/product/<%=product.productid%>"
              ><%=product.name%> (<%=product.size%>)</a
            >
          </li>
          <% }) %>
        </ul>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
