<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <div class="body-class">
    <div class="container-fluid">
        <div><%- include('sidebar') %></div>
        <div>
          <h1><%= message %></h1>
          <h2><%= error.status %></h2>
          <pre><%= error.stack %></pre>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
