<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>
  <body>
    <div class="body-class">
      <div class="sidebar"><%- include('sidebar.ejs') %></div>
      <div class="main">
        <h1><%=title%></h1>
        <form
          action="/batches/create"
          method="POST"
          id="batchesForm"
          enctype="multipart/form-data"
        >
          <div>
            <label for="productID">Product:</label>
            <select id="productID" name="productID" required>
              <% data.forEach(item => { %>
              <option value="<%= item.productid %>">
                <%= item.product %> sized <%= item.size %> from <%= item.country
                %> <%= item.supplier %>
              </option>
              <% }); %>
            </select>
          </div>
          <div id="notice" style="display: none; color: red">
            Please fill in the Quantity In.
          </div>
          <div>
            <label for="quantityIn">Quantity In (In pcs or kg):</label>
            <input
              type="number"
              id="quantityIn"
              name="quantityIn"
              onchange="updateMSRP()"
              required
            />
          </div>
          <div>
            <label for="cost">Cost:</label>
            <input
              type="number"
              id="cost"
              name="cost"
              onchange="updateMSRP()"
              required
            />
          </div>
          <div>
            <label for="msrp"
              >MSRP: <small>Manufacturer Suggested Retail Price</small></label
            >
            <input step="any" type="number" id="msrp" name="msrp" required />
          </div>
          <div>
            <label for="images">Upload Images:</label>
            <input
              type="file"
              id="images"
              name="images"
              accept="image/*"
              multiple
            />
          </div>
          <button type="submit">Create Batch</button>
        </form>
      </div>
    </div>
    <script>
      let cost = document.getElementById("cost");
      let msrp = document.getElementById("msrp");
      let quantityIn = document.getElementById("quantityIn");
      const noticeDiv = document.getElementById("notice");
      const updateMSRP = () => {
        if (!quantityIn.value && cost.value) {
          noticeDiv.style.display = "block";
        } else if (quantityIn.value && cost.value) {
          noticeDiv.style.display = "none";
          msrp.value = ((Number(cost.value) * 1.15) / quantityIn.value).toFixed(
            2
          );
        }
      };
    </script>
  </body>
</html>
